<!-- can be used for every bootstrap & django projects for error message partial -->

<!-- check if there is message -->
{% if messages %}
<!-- loop through the messages -->
{% for message in messages %}
<div id="message" class="container">
  <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    <strong>
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      Ops, {{ message }}
      {% else %}
      {{ message.tags|title }}, {{ message }}
      {% endif %}
    </strong>
  </div>
</div>
{% endfor %}
{% endif %}